.aside {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: scroll;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  .aside {
    display: none !important;
  }
}
